<div class="jumbotron subjects info">

  <% if !flash[:notice].blank?%>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice]%>
    </div>
  <% end %>
  <h2>Subjects</h2>
  <table class="table listing" summary="Subject List">
    <tr class="header">
      <th>#</th>
      <th>Subjects</th>
      <th>Visible</th>
      <th>Pages</th>
      <th>Actions</th>
    </tr>

    <% @subjects.each do |subject| %>
    <tr>
      <td><%= subject.position %></td>
      <td><%= subject.name %></td>
      <td class="center"><%= status_tag(subject.visible) %></td>
      <td class="center"><%= subject.pages.size %></td>
      <td class="actions">
        <%= link_to("", subject_path(subject), :class => 'action show btn btn-default glyphicon glyphicon-folder-open') %>
        <%= link_to("", edit_subject_path(subject), :class => 'action edit btn btn-default glyphicon glyphicon-edit') %>
        <%= link_to("", delete_subject_path(subject), :class => 'action delete btn btn-default glyphicon glyphicon-remove') %>
      </td>
    </tr>
    <% end %>
  </table>

  <%= link_to("Add new Subject", new_subject_path, :class => 'action new btn btn-default') %>
</div>
